{% extends '@theme/layout.html.twig' %}

{% set bestsellers = shop.settings.best_sellers_taxon %}

{% block content %}
    <div class="row">
        <div class="col-lg-3">
            <div class="category">
                <div class="title">{{ bestsellers.name }}</div>
                {% for product in bestsellers.products %}
                    <div class="item">
                        <div style="min-width: 60px;">
                            <img src="{{ media_display_url(product.media.first.media) }}"
                                 class="thumb" height="72"/>
                        </div>
                        <div class="info">
                            <a href="{{ path(product) }}" class="title">{{ product.name }}</a>
                            <span class="price">&euro; 39,99</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-9">
            {% block right_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
